
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#main {
  height: 150vh;
  overflow: hidden;
  position: relative;
  padding: 0;
}
#options {
  display: flex;
  justify-content: space-around;
}
#terminal-container {
  background-color: #1e1e1e;
  height: 100%;
}
.rotating {
  animation: Rotation 1s ease-in-out infinite;
}
#options .btn:hover {
  box-shadow: 0 none;
  color: #fff !important;
  text-decoration: none;
}
@keyframes Rotation {
  to {
    transform: rotate(360deg)
  }
}